*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{   
    width: 15px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(77,77,77,1) 100%);
}

::-webkit-scrollbar-track{
    background-color: #131314;
}

#particles-js {
    position: relative;
    height: 120vh;
    text-align: center;
    background-size: cover;
    justify-content: center;
    background-color: #1d1d20;
}

.header{
    top: 25vh; left: 30vh; right: 30vh;
    display: flex;
    position: absolute; 
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.header .header-title { 
    cursor: default;
    font-size: 5rem;
    font-family: Arial;
    margin-bottom: -10px;
    color: white;
    text-shadow: 
    -1px -1px 0 rgb(0, 0, 0), /* Top left */
     1px -1px 0 rgb(0, 0, 0), /* Top right */
    -1px 1px 0 rgb(0, 0, 0), /* Bottom left */
     1px 1px 0 #000; /* Bottom right */
}

.header-title {
    display: inline-block;
    font-size: 36px;
    position: relative;
  }
  
  .header-title span {
    display: inline-block;
    transition: all 0.2s ease;
    margin-right: -25px;
  }

  .header-title #space {
    display: inline-block;
    margin-right: -1px;
  }
  
  .header-title span:hover {
    transform: translateY(-11px);
  }

.header .header-sub-title {
    cursor: default;
    margin-bottom: 20px;
    font-family: Helvetica;
    font-size: 2rem;
    color: #00FFFF; 
    transition: all 0.3s ease;
}

.header .header-sub-title:hover {
    transform: scale(1.2);
}

.header .header-description {
    cursor: default;
    font-size: 1.2rem;
    color: white;
    text-shadow: 0px 0.4px #00FFFF;
}

.header-logos{
    display: flex;
    margin-top: 20px;
    width: 150px;
    justify-content: space-evenly;
}

.header-logos i {
    color: white;
    font-size: 2rem;
    transition: all 0.2s ease;
}

.header-logos i:hover{
    color: #00FFFF;
}

.fa-angle-down{
    position: relative;
    top: 30vh;
    color: white;
    font-size: 1.5rem;
    transition: 0.3s ease;
    cursor: pointer;
}

.fa-angle-down:hover {
    transform: translateY(10px);
  }

@media screen and (max-width:1200px) {  
    .header{
        top: 25vh; left: 25vh; right: 25vh;
    }

      .header .header-title { 
        font-size: 4.5rem;
        margin-bottom: -10px;
      }
      
      .header-title span {
        margin-right: -22px;
      }
    
      .header-title #space {
        margin-right: -1px;
      }
      
      .header-title span:hover {
        transform: translateY(-11px);
      }
    
    .header .header-sub-title {
        margin-bottom: 20px;
        font-size: 1.9rem;
    }
    
    .header .header-description {
        font-size: 1.1rem;
    }

    .header-logos i {
        font-size: 1.9rem;
    }
}

@media screen and (max-width:839px){
    .header{
        top: 25vh; left: 20vh; right: 20vh;
      }

    .header .header-title { 
        font-size: 4.2rem;
        margin-bottom: -10px;
      }
      
      .header-title span {
        margin-right: -22px;
      }
    
      .header-title #space {
        margin-right: -1px;
      }
      
      .header-title span:hover {
        transform: translateY(-11px);
      }
    
    .header .header-sub-title {
        margin-bottom: 20px;
        font-size: 1.6rem;
    }
    
    .header .header-description {
        font-size: 1.0rem;
    }

    .header-logos i {
        font-size: 1.6rem;
    }   
    
    .fa-angle-down{
        top: 27vh;
    }
}

@media screen and (max-width:700px){
    .header{
        top: 25vh; left: 18vh; right: 18vh;
      }

    .header .header-title { 
        font-size: 3.8rem;
        margin-bottom: -10px;
      }
      
      .header-title span {
        margin-right: -20px;
      }
    
      .header-title #space {
        margin-right: -1px;
      }
      
      .header-title span:hover {
        transform: translateY(-11px);
      }
    
    .header .header-sub-title {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }
    
    .header .header-description {
        font-size: 0.7rem;
    }

    .header-logos i {
        font-size: 1.3rem;
    }   
    
    .fa-angle-down{
        top: 25vh;
    }
}

@media screen and (max-width:600px){
    .header{
        top: 25vh; left: 15vh; right: 15vh;
      }

    .header .header-title { 
        font-size: 3.0rem;
        margin-bottom: -10px;
      }
      
      .header-title span {
        margin-right: -15px;
      }
    
      .header-title #space {
        margin-right: -1px;
      }
      
      .header-title span:hover {
        transform: translateY(-11px);
      }
    
    .header .header-sub-title {
        margin-bottom: 20px;
        font-size: 1.0rem;
    }
    
    .header .header-description {
        font-size: 0.5rem;
    }

    .header-logos i {
        font-size: 1.0rem;
    }    

    .fa-angle-down{
        top: 23vh;
    }
}

@media screen and (max-width:500px){
    .header{
        top: 23vh; left: 3vh; right: 5vh;
      }

    .header .header-title { 
        font-size: 2.3rem;
        margin-bottom: -5px;
      }
      
      .header-title span {
        margin-right: -11px;
      }
    
      .header-title #space {
        margin-right: -1px;
      }
      
      .header-title span:hover {
        transform: translateY(-11px);
      }
    
    .header .header-sub-title {
        margin-bottom: 20px;
        font-size: 1.0rem;
    }
    
    .header .header-description {
        font-size: 0.5rem;
    }

    .header-logos i {
        font-size: 1.1rem;
    }    

    .fa-angle-down{
        top: 19vh;
    }
}

/*ABOUT SECTION*/

.about{
  color: white;
  height: 1000vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #1b1919;
}

section{
  font-size: 2rem;
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 100vh;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

.about-container .profile img{
  position: relative;
  display: inline;
  text-align: center;
  justify-self: center;
  margin-left: 20px;
  border-radius: 50%;
  border: 3px solid #00FFFF;
  
}

.about-container .profile {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hidden{
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s;
}

.show{
  transform: translateY(0);
  opacity: 1;

}

/*WAVING HAND BAKA MAKALIMUTAN IH

https://codepen.io/jakejarvis/pen/pBZWZw

/*