@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{   
    width: 15px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(77,77,77,1) 100%);
}

::-webkit-scrollbar-track{
    background-color: #131314;
}

/*Header*/

#particles-js {
  height: 100vh;
  text-align: center;
  position: relative;
  background-size: cover;
  justify-content: center;
  background-color: #1d1d20;
}

.header{
    top: 25vh; left: 30vh; right: 30vh;
    display: flex;
    position: absolute; 
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header .header-title { 
    cursor: default;
    font-size: 4rem;
    font-family: Arial;
    color: white;
}

  .header-title span {
    display: inline-block;
    transition: all 0.2s ease;
    margin-right: -20px;
  }

  .header-title #space {
    display: inline-block;
    margin-right: -1px;
  }
  
  .header-title span:hover {
    transform: translateY(-11px);
  }

.header .header-sub-title {
    cursor: default;
    margin-bottom: 20px;
    font-family: Helvetica;
    font-size: 2rem;
    color: #00FFFF; 
    transition: all 0.3s ease;
}

.header .header-sub-title:hover {
    transform: scale(1.2);
}

.header .header-description {
    cursor: default;
    font-size: 1.2rem;
    color: white;
    text-shadow: 0px 0.4px #00FFFF;
}

.header-logos{
    display: flex;
    margin-top: 20px;
    width: 150px;
    justify-content: space-evenly;
}

.header-logos i {
    color: white;
    font-size: 2rem;
    transition: all 0.2s ease;
}

.header-logos i:hover{
    color: #00FFFF;
}

.fa-angle-down{
    position: relative;
    top: 30vh;
    color: white;
    font-size: 1.5rem;
    transition: 0.3s ease;
    cursor: pointer;
}

.fa-angle-down:hover {
    transform: translateY(10px);
  }

/*ABOUT SECTION*/

.about{
  padding: 0 15vh;
  min-height: 100vh;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .profile{
  position: relative;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.about .profile #about-header, #about-sub-header, #about-sub-header-2, #about-description{
  color: white;
}

#about-header{
  position: relative;
  margin-top: -100px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.about .profile-image{
  margin-right: 10vh;
}

.about .profile-image img{
  height: 300px;
  width: 800px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5%;
}

.hidden{
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease-out;
}

.hidden2{
  opacity: 0;
  transform: translateX(500px);
  transition: all 0.6s ease-out;
}

.active{
  transform: translateX(0);
  opacity: 1;

}

.fa-location-dot{
  display: inline-block;
  font-size: 40px;
}

.wave {
  font-size: 50px;
  animation-name: wave-animation;  
  animation-duration: 2.5s;       
  animation-iteration-count: infinite;  
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(-1.0deg) }
    5% { transform: rotate(-4.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

/**/

footer{
  height: 100vh;
  background-color: rgb(19, 16, 16);
}


